/**
*   Here we define font-face definitions for web-fonts used in the project.
*/

.font-smooth() {
    -webkit-font-smoothing: antialiased;
}

// the default font used on the <body>, <p>, etc. throughout the site.
.body-font() {
	font-family: sans-serif;
	.font-smooth;
}

// the font used h1 to h6.
.heading-font() {
	.font-smooth;
}
