/**
* General/Site-wide variables go here.
*/

// TODO: global variables

// z-index scale
@zIndex1: 10;
@zIndex2: 20;
@zIndex3: 30;
@zIndex4: 40;
@zIndex5: 50;
@zIndex6: 60;
@zIndex7: 70;
@zIndex8: 80;
@zIndex9: 90;
@zIndex10: 100;

// screen sizes: Required for media-grid.less and other utilities and 
// used in various responsive sections of the site too.
// @see Bootstrap
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
@screen-xs-max: (@screen-sm - 1px);
@screen-sm-min: @screen-sm;
@screen-sm-max: (@screen-md - 1px);
@screen-md-min: @screen-md;
@screen-md-max: (@screen-lg - 1px);
@screen-lg-min: @screen-lg;
