<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container">
      {{ page.header }}
    </div>
  </nav>
</header>

{% block content "Override" %}

<footer>
  <div class="container">
    {{ page.footer }}
  </div>
</footer>
