{% if site_logo %}
<a class="navbar-brand" href="{{ path('<front>') }}" rel="home">
  <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid" width="150" height="50" />
</a>
{% endif %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation-content" aria-controls="primary-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
