{% extends "@playground/layouts/base.html.twig" %}

{% block content %}
    {% if page.sidebar %}
    <div class="row mx-0">
        <div class="col-sm-2">
          {{ page.sidebar }}
        </div>
        <div class="col-sm-10" role="main">
          {{ page.content }}
        </div>
    </div>
    {% else %}
      {% include '@playground/includes/full-width-page.html.twig' %}
    {% endif %}
{% endblock %}